body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
/* background: color image repeat position/size
body {
    background-image: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #fff;
    --bg-url: url(assets/bg-desktop.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --highlight-color-hover: rgba(255, 255, 255, 0.2);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --toggle-handle-color: url(assets/moon-stars.svg);
}

.light {
    --bg-url: url(assets/bg-desktop-light.jpg);
    --text-color: #000;
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1);
    --highlight-color-hover: rgba(0, 0, 0, 0.2);
    --surface-color-hover: rgba(0, 0, 0, 0.05);
    --toggle-handle-color: url(assets/sun.svg);
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);

}
#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

/* ||PROFILE */
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* || SWITCH */
#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: white var(--toggle-handle-color) no-repeat center;
    position: absolute;
    left: 0;
    z-index: 1;
    transform: translateY(50%);
    bottom: 50%;
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2s;
}

#social-links a:hover {
    background: var(--highlight-color-hover);
}

footer {
    padding: 24px;
    text-align: center;
    font-size: 14px;
}